[package]
edition = "2021"
name = "examples"
publish = false
version = "0.0.0"

[dependencies]
web-sys = { path = "../client/web-sys" }

[[example]]
crate-type = ["cdylib"]
name = "basic"
path = "basic.rs"
